<a href="https://colab.research.google.com/github/FarelRifasha/pengumpulan-DAA/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Terdapat list a dan b
a = [1, 2, 3]
b = [4, 5, 6]

# Lalu jumlahkan
hasil = a + b

# Cetak hasilnya
print(hasil)

[1, 2, 3, 4, 5, 6]

In [ ]:
# Terdapat list a dan b
a = [1, 2, 3]
b = [4, 5, 6]

# Jumlahkan seluruh elemen dari kedua list
hasil = sum(a) + sum(b)

# Cetak hasil
print(hasil)

21

In [ ]:
# terdapat list a dan b
a = [1, 2, 3]
b = [4, 5, 6]

# lalu jumlahkan
hasil = sum(a) + sum(b)
print(hasil)  # [1, 2, 3, 4, 5, 6]

def add(list_a, list_b):
    result = []
    for first, second in zip(list_a, list_b):
        result.append(first + second)
    return result

21

In [ ]:
# terdapat list a dan b
a = [1, 2, 3]
b = [4, 5, 6]

# lalu jumlahkan
hasil = (a) + (b)
print(hasil)  # [1, 2, 3, 4, 5, 6]

def add(list_a, list_b):
    result = []
    for first, second in zip(list_a, list_b):
        result.append(first + second)
    return result

[1, 2, 3, 4, 5, 6]

In [ ]:
 import numpy as np
 # membuat array
 nilai_siswa = np.array([85, 55, 40, 90])
 # mengakses data pada array
 print(nilai_siswa[3])

90

In [ ]:
print("Hello, World!")
print("Nama saya (Farel Rifasha)")
print("NIM saya (2024071016)")

Hello, World!
Nama saya (Farel Rifasha)
NIM saya (2024071016)

In [ ]:
if 5>2:
 print("Five is greater than two!")

Five is greater than two!